.DS_Store
/.gitconfig
/.gradle/
/_assets/
/_site/
/_tmp/
/build/

mule-user-guide/v/3.7/_images/mq-dataweave.png

runtime-manager/_images/cloudhub-connector-install.png

anypoint-platform-administration/managing-cloudhub-specific-settings.adoc

anypoint-platform-for-apis/_images/API+designer+link.png
