<div class="toolbar" role="navigation">
  <button class="navigation-open"></button>
  {{#if siteRootUrl}}
  <a href="{{siteRootUrl}}" class="home-link{{#if home}} home-link--current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs }}
{{> page-version-selector }}
</div>
